$lightPink: #EABEC3;

.app{
    display: flex;
    justify-content: center;
    background-color: #EDEEF3;

    .container{
        width: 750px; 

        // maybe change width to flex to work on smaller screens

        .link{
            text-decoration: none;
            color: inherit;
        }

        // login + register
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightPink;

            h1{
                font-size: 40px;
                color: #6D6875;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: #D0637C;
                width: 200PX;
            }

            button{
                padding: 5px;
                background-color: #FFB4A2;
                color: #6D6875;
                font-weight: bolder;
                cursor: pointer;
            }

            span{
                font-size: 12px;
                text-align: center;
            }
        }

        // navbar
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    width: 150px;
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    color: #6D6875;

                    h5{
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .post{
                        background-color: $lightPink;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover{
                            color:#EDEEF3;
                            background-color: #D0637C;
                        }
                    }

                }
            }
        }

        // footer
        footer{
            margin-top: 200px;
            padding: 20px;
            background-color: $lightPink;
            display: flex;
        }

        // home
        .home {

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                gap: 80px;
                justify-content: center;
            }

            .post{
                background-color: #F5DDE0;
                padding-left: 10px;
                border: 1px solid $lightPink;
            }

            .content {
                justify-content: space-between;

                h1{
                    font-size: 35px;
                    color: #6D6875;
                }

                p{
                    font-size: 18px;
                    color: #6D6875;
                }

                button {
                    width: max-content;
                    background-color: #FFB4A2;
                    color: #6D6875;
                    border: 1px solid #6D6875;
                    cursor: pointer;
                }
            }
        }


        // single post page
        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;

                h1{
                    color: #6D6875;
                }

                p{
                    color: #6D6875;
                    text-align: justify;
                    padding-right: 40px;
                }


                .info{
                    p{
                        font-weight: bold;
                        color: #6D6875;
                    }
                }

                .edit{
                    display: flex;

                    img{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }

            .menu{
                flex: 2;
            }
        }
    }

}