$lightPink: #EABEC3;

.app{

    .container{

        // login + register
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightPink;

            h1{
                font-size: 40px;
                color: #6D6875;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: #D0637C;
                width: 200PX;
            }

            button{
                padding: 5px;
                background-color: #FFB4A2;
                color: #6D6875;
                cursor: pointer;
            }
        }
    }

}